html{
    background: black;
}
.sounds{
    background: white;
}

.Ahem{
    font-size: 24px;
}
.Bat{
    background-color: burlywood;
}
.Clap{
    font-style: italic;
}
.Cow{
    background-color: chocolate;
}
.Cork{
    margin: 14px;
    border-radius: 75%;
}